<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Certificate Generator</title>
  <link rel="stylesheet" href="../css/certificate.css">
</head>
<body>
  <h1>Certificate Generator</h1>
  <input type="text" id="nameInput" placeholder="Enter your name">
  <button onclick="generateCertificate()">Generate Certificate</button>
  <br>
  <canvas id="certificateCanvas" width="1000" height="700"></canvas>
  <br>
  <button onclick="downloadCertificate()">Download Certificate</button>
  <script src="../js/Certificate.js"></script>
</body>
</html>
