<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Section</title>
    <link rel="stylesheet" href="../css/videoSection.css">
</head>
<body>
    <nav>
        <%- include('navbar.ejs') %>
    </nav>
    <div>
      <h1>Water Conservation Videos</h1>
      <div id="videoContainer" class="skeleton-container"></div>
      <div class="pagination-controls">
        <button id="prevButton">Previous</button>
        <span id="pageNumber">Page 1</span>
        <button id="nextButton">Next</button>
      </div>
    </div>

          <script src="../js/videoSection.js"></script>
</body>
</html>
