<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Section</title>
    <link rel="stylesheet" href="../css/videoSection.css">
</head>
<body>
    <nav>
        <%- include('navbar.ejs') %>
    </nav>
       <div class="headings"> <h1>YouTube Video Section</h1>
    
     
    <h1>Water Conservation Videos</h1>
    <p>Learn how to conserve water and minimize water scarcity.</p>
</div>
  <div class="videos-sec" id="videoContainer">
    <!-- Videos will be dynamically added here -->
  </div>
  <div class="pagination">
    <button id="prevButton">Previous</button>
    <span id="pageNumber">Page 1</span>
    <button id="nextButton">Next</button>
  </div>

          <script src="../js/videoSection.js"></script>
</body>
</html>
