* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: url("https://img.freepik.com/premium-photo/2023-concept-every-drop-matters-world-water-environment_875825-40635.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background:#86c2d696;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.button-container {
    text-align: center;
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

#domestic-btn {
    background-color: #4CAF50;
    color: white;
}

#agro-btn {
    background-color: #ff1010ec;
    color: white;
}

#domestic-calculator {
    display: none;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.results {
    margin-top: 20px;
    padding: 20px;
    background-color: #e7f7e7;
    border-radius: 8px;
}

.solutions {
    margin-top: 20px;
}

.solutions h3 {
    margin-bottom: 10px;
}


#google_translate_widget_container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
  }
  
  #google_translate_icon {
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
  }
  
  #google_translate_element {
    font-size: 14px;
    background-color: transparent;
    border: none;
    padding: 5px;
    color: #333;
    border-radius: 5px;
    text-align: center;
  }
  
  #google_translate_icon img {
    border-radius: 50%;
  }

  #google_translate_widget_container:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
  }