* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}
header {
    background-color: #3e8da8;
    color: white;
    padding: 25px;
    text-align: center;
}
.news-head {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 20px;
}

.news-grid {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news-card {
    position: relative;
    margin: 20px;
    width: 400px;
    height: auto;
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.news-card img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.news-title {
    font-size: 1.6rem;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;

}

.news-summary {
    font-size: 1rem;
    color: #555;
    padding: 0 20px 20px;
}

.read-more {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0 10px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: #3e8da8;
}

.pre-next-btn {
    display: flex;
    /* Use flexbox for alignment */
    justify-content: space-evenly;
    /* Space items evenly */
    align-items: center;
    /* Vertically align items */
    width: 100%;
    /* Ensure it takes full width of the container */
    margin: 20px 0px;
    /* Add some spacing above and below */
}

.pre-btn,
.next-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pre-btn:hover,
.next-btn:hover {
    background-color: #0056b3;
}

.page-number {
    font-size: 18px;
    /* font-weight: bold;  */
    text-align: center;
    color: #333;
}

news-container {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#google_translate_widget_container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

#google_translate_icon {
    margin-right: 10px;
    cursor: pointer;
}

#google_translate_element {
    font-size: 14px;
    background-color: transparent;
    border: none;
    padding: 5px;
    color: #333;
    border-radius: 5px;
}

#google_translate_icon img {
    border-radius: 50%;
}

#google_translate_widget_container:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}